@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-footer-color {
  color: #0f1c55;
}
/* .bg-image {
  background-image: url("./../public/Bg1full.jpg");
  background-size: cover;
} */
/* body {
  background-image: url("./../public/blog3.jpg");
  position: sticky;
  object-fit: cover;
  height: 100vh;
  width: 100vw;
  z-index: -1000000;
} */
body {
  font-family: "Arial", sans-serif;
}
.zoom {
  transform: scale(1.5);
}
.dash_classes :not(:empty) {
  color: black;
}
